

#block-text.block
  .secondary-navigation
    %ul
      %li.active.first
        %a{ :href => "#block-text" }
          Text
      %li
        %a{ :href => "#block-tables" }
          Tables
      %li
        %a{ :href => "#block-forms" }
          Forms
      %li
        %a{ :href => "#block-messages" }
          Messages
      %li
        %a{ :href => "#block-forms-2" }
          2 Columns Forms
      %li
        %a{ :href => "#block-lists" }
          Lists
    .clear
  .content
    %h2.title
      Text
    .inner
      %p.first
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        %span.hightlight
          Excepteur sint occaecat cupidatat non proident
        , sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        %span.small
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      %p
        %span.gray
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      %hr
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        %span.hightlight
          Excepteur sint occaecat cupidatat non proident
        , sunt in culpa qui officia deserunt mollit anim id est laborum.

#block-messages.block
  .secondary-navigation
    %ul
      %li.first
        %a{ :href => "#block-text" }
          Text
      %li
        %a{ :href => "#block-tables" }
          Tables
      %li
        %a{ :href => "#block-forms" }
          Forms
      %li.active
        %a{ :href => "#block-messages" }
          Messages
      %li
        %a{ :href => "#block-forms-2" }
          2 Columns Forms
      %li
        %a{ :href => "#block-lists" }
          Lists
    .clear
  .content
    %h2.title
      Messages
    .inner
      .flash
        .message.error
          %p
            Error message
        .message.warning
          %p
            Warning message
        .message.notice
          %p
            Notice message

#block-tables.block
  .secondary-navigation
    %ul
      %li.first
        %a{ :href => "#block-text" }
          Text
      %li.active
        %a{ :href => "#block-tables" }
          Tables
      %li
        %a{ :href => "#block-forms" }
          Forms
      %li
        %a{ :href => "#block-messages" }
          Messages
      %li
        %a{ :href => "#block-forms-2" }
          2 Columns Forms
      %li
        %a{ :href => "#block-lists" }
          Lists
    .clear
  .content
    %h2.title
      Tables
    .inner
      %form.form{ :action => "#" }
        %table.table
          %tr
            %th.first
              %input.checkbox.toggle{ :type => "checkbox" }
            %th
              ID
            %th
              Login
            %th
              Name
            %th
              Surname
            %th.last
              \&nbsp;
          %tr.odd
            %td
              %input.checkbox{ :name => "id", :type => "checkbox", :value => "1" }
            %td
              1
            %td
              hulk
            %td
              Hulk
            %td
              Hogan
            %td.last
              %a{ :href => "#" }
                show
              |
              %a{ :href => "#" }
                edit
              |
              %a{ :href => "#" }
                destroy
          %tr.even
            %td
              %input.checkbox{ :name => "id", :type => "checkbox", :value => "1" }
            %td
              2
            %td
              ultimate
            %td
              Ultimate
            %td
              Warrior
            %td.last
              %a{ :href => "#" }
                show
              |
              %a{ :href => "#" }
                edit
              |
              %a{ :href => "#" }
                destroy
          %tr.odd
            %td
              %input.checkbox{ :name => "id", :type => "checkbox", :value => "1" }
            %td
              3
            %td
              andre
            %td
              Andre
            %td
              The Giant
            %td.last
              %a{ :href => "#" }
                show
              |
              %a{ :href => "#" }
                edit
              |
              %a{ :href => "#" }
                destroy
          %tr.even
            %td
              %input.checkbox{ :name => "id", :type => "checkbox", :value => "1" }
            %td
              4
            %td
              machoman
            %td
              Macho Man
            %td
              Randy Savage
            %td.last
              %a{ :href => "#" }
                show
              |
              %a{ :href => "#" }
                edit
              |
              %a{ :href => "#" }
                destroy
        .actions-bar
          .actions
            %input.button{ :type => "submit", :value => "Delete" }
          .pagination
            %span.disabled.prev_page
              « Previous
            %span.current
              1
            %a{ :href => "#", :rel => "next" }
              2
            %a{ :href => "#" }
              3
            %a{ :href => "#" }
              4
            %a{ :href => "#" }
              5
            %a{ :href => "#" }
              6
            %a{ :href => "#" }
              7
            %a{ :href => "#" }
              8
            %a{ :href => "#" }
              9
            %a{ :href => "#" }
              10
            %a{ :href => "#" }
              11
            %a.next_page{ :href => "#", :rel => "next" }
              Next »
          .clear


#block-forms.block
  .secondary-navigation
    %ul
      %li.first
        %a{ :href => "#block-text" }
          Text
      %li
        %a{ :href => "#block-tables" }
          Tables
      %li.active
        %a{ :href => "#block-forms" }
          Forms
      %li
        %a{ :href => "#block-messages" }
          Messages
      %li
        %a{ :href => "#block-forms-2" }
          2 Columns Forms
      %li
        %a{ :href => "#block-lists" }
          Lists
    .clear
  .content
    %h2.title
      Forms
    .inner
      %form.form{ :method => "get", :action => "#" }
        .group
          = f.label
            Text field
          %input.text_field{ :type => "text" }
          %span.description
            Ex: a simple text
        .group
          .fieldWithErrors
            = f.label{ :for => "post_title" }
              Title
            %span.error
              can't be blank
          %input.text_field{ :type => "text" }
          %span.description
            Ex: a simple text
        .group
          = f.label
            Text area
          %textarea.text_area{ :rows => "10", :cols => "80" }
          %span.description
            Write here a long text
        .group.navform
          %input.button{ :type => "submit", :value => "Save &rarr;" }
          or
          %a{ :href => "#header" }
            Cancel

#block-forms-2.block
  .secondary-navigation
    %ul
      %li.first
        %a{ :href => "#block-text" }
          Text
      %li
        %a{ :href => "#block-tables" }
          Tables
      %li
        %a{ :href => "#block-forms" }
          Forms
      %li
        %a{ :href => "#block-messages" }
          Messages
      %li.active
        %a{ :href => "#block-forms-2" }
          2 Columns Forms
      %li
        %a{ :href => "#block-lists" }
          Lists
    .clear
  .content
    %h2.title
      2 columns forms
    .inner
      %form.form{ :method => "get", :action => "#" }
        .columns
          .column.left
            .group
              = f.label
                Text field
              %input.text_field{ :type => "text" }
            .group
              = f.label
                Text area
              %textarea.text_area{ :rows => "10", :cols => "80" }
          .column.right
            .group
              = f.label
                Select
              %select
                %option{ :value => "1" }
                  Choose...
            .group
              = f.label
                Check box
              %div
                %input#checkbox_1.checkbox{ :name => "checkbox", :type => "checkbox", :value => "1" }
                %label.checkbox{ :for => "checkbox_1" }
                  Option 1
              %div
                %input#checkbox_2.checkbox{ :name => "checkbox", :type => "checkbox", :value => "2" }
                %label.checkbox{ :for => "checkbox_2" }
                  Option 2
            .group
              = f.label
                Radio
              %div
                %input#radio_1.checkbox{ :name => "radio", :type => "radio", :value => "1" }
                %label.radio{ :for => "radio_1" }
                  Option 1
              %div
                %input#radio_2.checkbox{ :name => "radio", :type => "radio", :value => "2" }
                %label.radio{ :for => "radio_2" }
                  Option 2
        .clear
        .group.navform
          %input.button{ :type => "submit", :value => "Save &rarr;" }
          or
          %a{ :href => "#" }
            Cancel


#block-lists.block
  .secondary-navigation
    %ul
      %li.first
        %a{ :href => "#block-text" }
          Text
      %li
        %a{ :href => "#block-tables" }
          Tables
      %li
        %a{ :href => "#block-forms" }
          Forms
      %li
        %a{ :href => "#block-messages" }
          Messages
      %li
        %a{ :href => "#block-forms-2" }
          2 Columns Forms
      %li.active
        %a{ :href => "#block-lists" }
          Lists
    .clear
  .content
    %h2.title
      Lists
    .inner
      %ul.list
        %li
          .left
            %a{ :href => "#" }
              %img.avatar{ :src => "images/avatar.png", :alt => "avatar" }
          .item
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li
          .left
            %a{ :href => "#" }
              %img.avatar{ :src => "images/avatar.png", :alt => "avatar" }
          .item
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li
          .left
            %a{ :href => "#" }
              %img.avatar{ :src => "images/avatar.png", :alt => "avatar" }
          .item
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

#box
  #block-signup.block
    %h2
      Sign up
    .content
      %form.form{ :action => "#" }
        .group
          .left
            = f.label
              Login
          .right
            %input.text_field{ :type => "text" }
            %span.description
              Ex: web-app-theme
          .clear
        .group
          .left
            = f.label
              Email
          .right
            %input.text_field{ :type => "text" }
            %span.description
              Ex: test@example.com
          .clear
        .group
          .left
            = f.label
              Password
          .right
            %input.text_field{ :type => "password" }
            %span.description
              Must contains the word 'yeah'
          .clear
        .group
          = f.label
            Text field
          %input.text_field{ :type => "text" }
          %span.description
            Ex: a simple text
        .group
          = f.label
            Text field
          %input.text_field{ :type => "text" }
          %span.description
            Ex: a simple text
        .group.navform
          %input.button{ :type => "submit", :value => "Sign up" }
