.block
  .content
    - if @user
      .inner
        - unless @user.projects.empty?

        - else
          No projects.
    - elsif @tag
      %h2.title ##{@tag.name}
      - for project in @tag.projects
        %p= link_to project.name, project
    - else
      #{params[:login]} is avaiable, wanna register it ?

- content_for :sidebar do
  .block
    - if @user
      %li= link_to "Options", "/options"
      %h2= @user.name
      = link_to @user.name
      .gray
        = @user.motto
      %ul
        %li #{@user.projects.count} projects.
    - if current_user == @user
      %ul
        %li
          = image_tag "icons/pin.png"
          = link_to 'New project!', new_project_path
    - elsif @user
      %ul
        %li
          = image_tag "icons/pin.png"
          = link_to 'Follow user!', follow_user_path(@user)


