- form_for(project) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :url
    %br
    = f.text_field :url
    Skip this if your login is the same as github.
    Only github info fetching for now.
  %p
    = f.label :todo
    %br
    = f.text_field :todo
    Defaults to project URL/issues.
  %p
    = f.label :tags_text
    %br
    = f.text_field :tags_text
    Languages & Technologies used

  = save_or_cancel(f)