- for project in @projects
  - content_tag_for :div, project do
    %h3= link_to project.name, project
    .left
      %strong #{skill_text(project.skill)} - #{project.todos.count} TODOs #{project.forks} forks, #{project.watchers} watchers.
    .right
      .pplwork= project.devs
    .clear
    %p= show_tags(project)
    %p= project.info
    %span.gray Last update #{time_ago_in_words(project.updated_at)}
    - if current_user
      - if current_user.admin? || project.owners.include?(current_user)
        = link_to 'Edit', edit_project_path(project)
        = link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
    - else
      = link_to 'Help', help_project_path(project), :method => :post
      = link_to 'Watch', watch_project_path(project), :method => :post
