- form_for(project, :html => {:class => :form}) do |f|
  = f.error_messages
  .left
    %p
      = f.label :name
      %br
      = f.text_field :name
    %p
      = f.label :url
      %br
      = f.text_field :url
      Skip this if your login is the same as github.
      Only github info fetching for now.
    %p
      = f.label :todo
      %br
      = f.text_field :todo
      Defaults to project URL/issues.
    %p
      = f.label :tags_text
      %br
      = f.text_field :tags_text
      Languages & Technologies used
  .right
    %p
      = f.label :devs
      %br
      = f.text_field :devs
      Active developers
    %p
      = f.label :skill
      %br
      = f.select :skill, 1..5
      Skill needed (1 apprentice => 5 jedi)
  .clear
  = save_or_cancel(f)