- content_for :head do
  = javascript_include_tag "app/project_new"

- form_for(project, :html => {:class => :form}) do |f|
  = f.error_messages
  .left
    %span.wrap
      = f.label :name
      = f.text_field :name
    %span.wrap
      = f.label :url
      = f.text_field :url
      %small Skip this if your login is the same as github.  Only github info fetching for now.
    %span.wrap
      = f.label :issues
      = f.text_field :issues
      %small Defaults to project URL/issues.
    %span.wrap
      = f.label :tags_text
      = f.text_field :tags_text
      %small *Only* for languages & technologies used
    %span.wrap
      = f.label :info
      = f.text_area :info, :size => "53x6"
    #extra_fields
      %span.wrap
        = f.label :wiki
        = f.text_field :wiki
      %span.wrap
        = f.label :irc
        = f.text_field :irc
      %span.wrap
        = f.label :forum
        = f.text_field :forum
      %span.wrap
        = f.label :mailist
        = f.text_field :mailist
    %a#show_extra{:href => "#"} Extra...

  .right
    %span.wrap
      = f.label :devs
      = f.text_field :devs
      %small Active developers
    %span.wrap
      = skill_select(f)
  .clear
  = save_or_cancel(f)