%h2= @project.name
%strong= link_to @project.url, @project.url
.gray= @project.owners.map(&:name).join(",")

- content_tag_for :div, @project do
  %ul
    %li
      %strong Devs:
      =h @project.devs
    %li
      %strong Skill:
      = skill_text(@project.skill)
    %li
      %strong Todo:
      = link_to @project.todo, @project.todo
    %li
      %strong Karma:
      =h @project.karma
    %li
      %strong TODOs:
      = @project.todos
    %li
      %strong Forks:
      = @project.forks
    %li
      %strong Watchers:
      = @project.watchers
    %p
      = @project.info

  %h3 Tags
  = show_tags(@project)

  %h3 Pubs
  - if current_user
    - form_for Pub.new do |f|
      = f.hidden_field :project_id, :value => @project.id
      = f.text_field :body
      = f.submit "Send"

  - for pub in @project.pubs
    %p= puts_pub(pub)

%ul
  %li= link_to 'Edit', edit_project_path(@project) if current_user && current_user.owns?(@project)
  %li= link_to 'Back', projects_path