#box
  .block
    .content.login
      %h2.title Login
      - form_for UserSession.new, :url => user_session_path, :html => {:class => "form" } do |f|
        = f.error_messages
        .group
          = f.text_field :login
        .group
          = f.password_field :password
        .group
          .left= f.label :remember?
          .right= f.check_box :remember_me
          .clear
        .group.navform
          .left= link_to "Create a user", new_user_path
          .right
            %input.button{ :type => "submit", :value => "Login" }
          .clear
#box
  .block
    .content.login
      %h2.title Login from OpenID
      - form_for UserSession.new, :url => user_session_path, :html => {:class => "form" } do |f|
        = f.error_messages
        .group
          .fright= f.text_field :openid_identifier
          .clear
        .group.navform
          %input.button{ :type => "submit", :value => "Login" }
          .clear